<div class="header"><h1>Your movie lists</h1></div>

<div class="body"></div>

  <div class="container">
      <% @lists.each do |list| %>
        <div class="card"><%= link_to list.name, list_path(list) %></div>
      <% end  %>
  </div>

<div><%= link_to 'Make new list',  new_list_path%></div>
</div>
