<h1>New Bookmark</h1>

<!-- simple form collection to retrieve the list id and movie id and send  it to the params to create a new bookmark >
simple form for bookmark movie list do
f.input :movie  collection: Movie. all mulitple true
f.input :list  collection: List.all
